h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(3, 3, 177);
    font-size: 55px;
    text-shadow: black
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: brown;
    font-size: 25px;
}

img {
    position: relative;
    width: 30%;
    height: 60%;
    object-fit: scale-down;
    border: 7px solid black;
    border-top-color: pink;
    border-bottom-color: pink;
    border-left-color: indigo;
    border-right-color: indigo;
}

footer {
   margin-top: 35%;
   margin-bottom: 0px;
   margin-left: 45%;
   margin-right: 40%;
}
